<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Это где отображается?</title>
</head>
<body>
    <!-- Загружаем тег, который позволит получить нам ссылку на подтверждение -->
    {% load account %}
    <h1>Спасибо за регистрацию на сайте</h1>
    <h1 style="color:CadetBlue;">{{ user.username }}</h1>
    <!-- Вставляем ссылку на активацию -->
    <h3>Для активации аккаунта пройдите по <a href="{{ activate_url }}">cсылке</a>.</h3>
</body>
</html>