{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    Всего {{ posts|length }} новостей
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>

    {% if posts %}
        {% for post in posts %}
            <h3 style="color:Navy;">{{ post.title|censor }}</h3>
            <h6 style="color:Maroon;">{{ post.date_time_in|date:'d.F.Y' }}</h6>
            <h5 style="color:CadetBlue;">{{ post.content|truncatechars:20|censor }}</h5>
        {% endfor %}
    {% else %}
        <h2>Новостей нет</h2>
    {% endif %}

{% endblock content %}